* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* Hero */
.developer {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px 60px;
}

.developer h1 {
  font-size: 3rem;
}

.developer span {
  color: #38bdf8;
}

.developer p {
  margin: 10px 0 20px;
  color: #cbd5f5;
}

.buttons a {
  text-decoration: none;
  padding: 12px 25px;
  margin: 0 10px;
  border-radius: 25px;
  background: #38bdf8;
  color: #020617;
  font-weight: 600;
}

.buttons .outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* About */
.about {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Projects */
.projects {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 1px solid #1e293b;
}

.project-card h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

.project-card a {
  text-decoration: none;
  color: #38bdf8;
  font-weight: 500;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
}

/* Certifications */
.certifications {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.certifications h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.cert-card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 1px solid #1e293b;
}

.cert-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.cert-card a {
  text-decoration: none;
  color: #38bdf8;
  font-weight: 500;
}
